 
<nav class="navbar navbar-default">
		<div class="container-fluid">
  
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" routerLinkActive="active">
					<li class="nav-item"><a class="nav-link" (click) = "onLogout()">Logout</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/tasks">Tasks</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="activities">Activities</a></li>
				</ul>
			<form class="navbar-form navbar-left" role="search">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">

			  <li class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown">{{connectedUser}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>
	<router-outlet>
			
	</router-outlet>
